<div class="container rounded">
  <div class="row">
    <h4>Contact Info</h4>
    <address>
      <a href="mailto:partyunlimited.ca@gmail.com">partyunlimited.ca@gmail.com</a><br>
      490A Glenelm crescent<br>
      ON, Waterloo, N2L5C8, Canada
    </address>
  </div>
  <div class="row">
    <h4>More About Info</h4>
    <p>
      FOR THE *WILDEST* COLLEGE PARTIES IN TORONTO , FOLLOW THIS PAGE LIKE RELIGION . !!!!!<br>
      <br>
      WARNING--- EXTREMELY ADDICTIVE !!!!!!!<br>
      <br>
    </p>
  </div>
</div>
