<div class="container add-padding">
  <div class="row">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title" style="color: #FFA500;">Search your next party</h4>
        <div id="custom-search-input">
          <div class="input-group col-lg-10 col-md-8 col-sm-6">
            <input #searchBox type="text" class="search-query form-control" placeholder="Search"/>
            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button"
                                            (click)="updateSearchedParties(searchBox.value)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
